<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= category %></h1>
    <ul>
      <% data.forEach((item)=> { %>
      <li>
        <h4><%= item.name %></h4>
        <p>$ <%= item.price %></p>
        <p>Rating: <b><%= item.rating %></b></p>
        <p><em><%= item.details %></em></p>
      </li>

      <% }) %>
    </ul>
  </body>
</html>
